body{
    background: rgb(12,226,148);
    background: radial-gradient(circle, rgba(12,226,148,0.8919540229885058) 0%, rgba(217,30,182,1) 100%);
    font-family: sans-serif;
    color:white;
}

main{
    width: 730px;
    /*border: 1px solid black;*/
    margin: 100px auto 50px;
    display: flex;
    align-items: center;
}
.section1{
    background-color: rgba(255,255,255,0.2);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
}
h1{
    text-align: center;
}

button{
    height: 100px;
    width: 100px;
    font-size: 40px;
    color: white;
    font-weight: bold;
}
button:hover{
    cursor: pointer;
}
.section2{
    background-color: rgba(255,255,255,0.2);
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px ;
    width: 250px;
    height: 400px;
    padding: 0 20px;
}
.estadisticas{
    border: 1px solid white;
    height: auto;
    width: auto;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box;
}
footer{
    text-align: center;
}
a{
    text-decoration: none;
}